<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="meetanshi" translate="label" class="meetanshi" sortOrder="100">
            <label></label>
        </tab>
        <section id="nocontact" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Contactless Delivery</label>
            <tab>meetanshi</tab>
            <resource>Meetanshi_NoContact::config_nocontact</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Configuration</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Contactless Delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="payment_methods" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Payment Methods</label>
                    <source_model>Meetanshi\NoContact\Model\Config\Source\Methods</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="shipping_methods" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed Shipping Methods</label>
                    <source_model>Meetanshi\NoContact\Model\Config\Source\Shipping</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="label_checkout" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contactless Delivery Label</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="description_checkout" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contactless  Delivery Description</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="label_product" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contactless Delivery Label on Product Page</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="description_product" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contactless Delivery Description on Product Page</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
